.ag-team-section {
  align-items: center;
  background-image: url(../images/circle-line-bg.png);
  background-repeat: no-repeat;
  background-position: center center;

  &__title {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 36px;
    color: #36299a;
    margin-top: 130px;
  }
}

.ag-team-list {

  &__item {
    margin-top: 100px;
  }

  &__next,
  &__prev {
    position: absolute;
    z-index: 3;
    transition: .3s ease-in;
    transition-property: color;

    i {
      color: #898989;
    }

    &:hover {
      i {
        cursor: pointer;
        color: #f88341;
      }
    }
  }

  &__next {
    top: -35px;
    right: 0;
  }

  &__prev {
    top: -35px;
    right: 40px;
  }

  &__item {
    h4 {
      font-family: "Poppins";
      font-weight: 600;
      color: #36299a;
      line-height: 28px;
      margin-top: 15px;
    }

    span {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #f88341;
      text-transform: uppercase;
      margin-top: 35px;
    }

  }

  &__visible-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__hidden-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      font-family: "Poppins";
      font-weight: 400;
      color: #898989;
    }

    .ag-social-list {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin: 0 15px;
        a {
          color: #36299a;
          transition: .3s ease-in;
          outline: none;
          &:hover {
            color: #f88341;
          }
        }
      }
    }
  }
}
.ag-hidden {
  visibility: hidden;
  opacity: 0;
}
.slick-center {
  position: relative;
  transition: .3s ease-in;
  transform: translateY(-100px);

  .ag-hidden {
    opacity: 1;
    transition: .3s ease-in;
    transition-property: opacity;
    visibility: visible;
  }
}


